*{
    margin: 0px;
    padding: 0px;
}
body, html{
    height: 100%;
}
.front{
    background-image: url("https://media.giphy.com/media/r8PcwF9VJw2mQ/giphy.gif");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.front h3{
    color: red;
}
.Bee{
    background-color: rgb(29, 43, 68);
    width: 100em;
    height:100em;
}
.icon h2{
    color: white; 
    margin-left:10em;
    font-size: 3em;
    padding-top: 1em;
}

.barline{
    width:85em;
    height:4em;
    background-color: black;
    margin-left: 1em;
    border-radius: 5em;
    margin-top: 3em;
}
.barline h4{
    color: white;
    display: inline-block;
    margin-left: 6em;
    margin-top: 1em;
}

.character_box{
    width: 30em; 
    height: 18em;
    margin-left: 2em;
    display: inline-block;
    vertical-align: top;
    margin-top: 1.5em;
}


.character_box img{
    width: 9em;
    height: 8em;
    display:inline-block;
    margin-left: 0.6em;
    margin-top: 0.5em;
}

.form_box{
    display: inline-block;
    width: 25em;
    height:18em;
    margin-top: 1.5em;
    vertical-align: top;
    text-align: center;
}
.form_box p{
    color: white;
    
}
.music{
    display: inline-block;
    width: 20em;
    height: 20em;
    margin-top: 1.5em;
}
.build_box a{
    text-align: center;
}


.search_box{
    height: 40em;
    background-color: white;
    width: 90em;
    margin-left: 2em;
    text-align: center;
    opacity: 0.7;
    display:inline-block;

}

